In [1]:
import pandas as pd
import numpy as np

In [2]:
sales = pd.read_csv('C:/Users/Aryan Shingan/Desktop/Advertising.csv')

In [3]:
sales

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [4]:
sales.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [5]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   TV          200 non-null    float64
 2   Radio       200 non-null    float64
 3   Newspaper   200 non-null    float64
 4   Sales       200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

In [6]:
sales.describe()

       Unnamed: 0          TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

In [7]:
sales.columns

Index(['Unnamed: 0', 'TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [8]:
y=sales['Sales']
X=sales[['Unnamed: 0', 'TV', 'Radio', 'Newspaper']]

In [9]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test=train_test_split(X,y, train_size=0.7, random_state=2529)

In [12]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((140, 4), (60, 4), (140,), (60,))

In [13]:
X_train

     Unnamed: 0     TV  Radio  Newspaper
134         135   36.9   38.6       65.6
31           32  112.9   17.4       38.6
95           96  163.3   31.6       52.9
145         146  140.3    1.9        9.0
74           75  213.4   24.6       13.1
..          ...    ...    ...        ...
175         176  276.9   48.9       41.8
143         144  104.6    5.7       34.4
60           61   53.5    2.0       21.4
50           51  199.8    3.1       34.6
96           97  197.6    3.5        5.9

[140 rows x 4 columns]

In [14]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [15]:
model.fit(X_train,y_train)

LinearRegression()

In [16]:
y_pred=model.predict(X_test)

In [17]:
from sklearn.metrics import mean_absolute_error,mean_absolute_percentage_error,mean_squared_error

In [18]:
mean_absolute_error(y_test,y_pred)

1.3894296605681908

In [19]:
mean_absolute_percentage_error(y_test,y_pred)

0.11658411296289

In [20]:
mean_squared_error(y_test,y_pred)

3.054349038622465